/*-----------------------------------------------------------------------------------

    Template Name: APPUP - App Landing Page Template
    Template URI: http://bootexperts.com
    Description: APPUP - App Landing Page Template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1.   Theme Default CSS
    2.   Header Area
	3.   Hero Area
	4.   About APP Area
	5.   Feature Area
	6.   ScreenShot Area
	7.   Video Area
	8.   Pricing Area
	9.   Team Area
	10.  Testimonial Area
	11.  Download Area
	12.  Subscribe Area
	13.  Contact Area
	14.  Footer Area
	15.  Coming Soon
	16.  404 Page
	
-----------------------------------------------------------------------------------*/
@font-face{
   font-family:Bebas Neue;
   src: url("fonts/BebasNeue.otf");
}
@font-face{
   font-family:Myriad Pro;
   src: url("fonts/MyriadPro-Regular.otf");
}
/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
body {
  color: #111111;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  visibility: visible;
}
html, body {
  height: 100%;
}
img {
  max-width:100%;
  height:auto
}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 400;
  word-break: normal;
}
p:last-child {
  margin-bottom: 20px;
}
a, button{
  text-decoration:none;
  color: #606060;
 }
a, i, button, img, input, span,
*::before, *::after, .header, .main-menu, .single-screenshot-2 {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
*:focus {
  outline:0px solid
}
a:focus {
  color: #303030;
  outline: medium none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul{
  list-style: outside none none;
  margin: 0;
  padding: 0
}
.dark-layout p {
  color: #d0d0d0;
}
.dark-layout h1, .dark-layout h2, .dark-layout h3, .dark-layout h4, .dark-layout h5, .dark-layout h6 {
  color: #fff;
}
/* Common Class */
.fix {
  overflow:hidden
}
.clear{
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.table, .table-cell {
  display: table;
  height: 100%;
  margin: 0;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mtb-100 {
  margin-bottom: 100px;
  margin-top: 100px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-100 {
  padding-bottom: 100px;
}
.ptb-100 {
  padding-top: 100px;
}
.overlay {
  position: relative;
  z-index: 1;
}
.bg-fixed.overlay {
  background-attachment: local;
}
.video-container {
  z-index: -2!important;
}
.youtube-bg{
  background: transparent !important;
  overflow: hidden;
  position: relative;
}
#controlBar_hero.mb_YTPBar {
  display: none!important;
}
.mbYTP_wrapper {
  z-index: -2!important;
}
.boxed-layout .main-wrapper{
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
  float: none;
  margin: 0 auto;
  max-width: 1200px;
}
.pattern-1 {
  background: rgba(0, 0, 0, 0) url("img/pattern/1.jpg") repeat fixed 0 0;
}
.pattern-2 {
  background: rgba(0, 0, 0, 0) url("img/pattern/2.jpg") repeat fixed 0 0;
}
.pattern-3 {
  background: rgba(0, 0, 0, 0) url("img/pattern/3.jpg") repeat fixed 0 0;
}
.pattern-4 {
  background: rgba(0, 0, 0, 0) url("img/pattern/4.jpg") repeat fixed 0 0;
}
.pattern-5 {
  background: rgba(0, 0, 0, 0) url("img/pattern/5.jpg") repeat fixed 0 0;
}
.background-1 {
  background: rgba(0, 0, 0, 0) url("img/background/1.jpg") repeat fixed 0 0;
}
.background-2 {
  background: rgba(0, 0, 0, 0) url("img/background/2.jpg") repeat fixed 0 0;
}
.background-3 {
  background: rgba(0, 0, 0, 0) url("img/background/3.jpg") repeat fixed 0 0;
}
.background-4 {
  background: rgba(0, 0, 0, 0) url("img/background/4.jpg") repeat fixed 0 0;
}
.background-5 {
  background: rgba(0, 0, 0, 0) url("img/background/5.jpg") repeat fixed 0 0;
}
.overlay::before {
  background-color: #222222;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.bg-light {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f5f5f5;
}
.bg-dark {
  background-color: #000;
}
.bg-dark-gray {
  background-color: #000;
}
/* Section Title */
.section-title {
  padding-bottom: 65px;
}
.section-title h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 23px;
  text-transform: uppercase;
}
.section-title p{}
.section-title.title-black h1 {
  color: #333333;
}
.section-title.title-black p {
  color: #111111;
}
.section-title.title-white h1 {
  color: #ffffff;
}
.section-title.title-white p {
  color: #ffffff;
}
.dark-layout .section-title h1 {
  color: #ffffff;
   font-family:Bebas Neue;
  font-size:60px;
}
.dark-layout .section-title p {
  color: #ffffff;
}
/* Slider Control */
/* Slick Arrow */
.slick-arrow {
  background-color: #fff;
  border: medium none;
  color: #434343;
  margin-top: -20px;
  padding: 0;
  position: absolute;
  top: 50%;
  z-index: 999;
}
.dark-layout .slick-arrow {
  background-color: #252830;
  color: #fff;
}
.slick-arrow i {
  display: block;
  font-size: 40px;
  line-height: 40px;
  width: 40px;
}
.ss2-prev {
  left: -80px;
}
.ss2-next {
  right: -80px;
}
/* Slick Dots */
.slick-dots {
  display: block;
  line-height: 7px;
  margin-top: 40px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots li button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 50px;
  height: 7px;
  padding: 0;
  text-indent: -999999px;
  width: 7px;
}
.slick-dots li.slick-active button {}
/* Hamburgers For Menu Toggle */
.hamburger {
  display: block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {}
.hamburger-box {
  display: block;
  height: 29px;
  position: relative;
  width: 30px;
  padding: 5px 0;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.dark-layout .hamburger-inner, .dark-layout .hamburger-inner::before, .dark-layout .hamburger-inner::after {
  background-color: #fff;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}
/* Arrow Alt Right */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(8px, -7px, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(8px, -7px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(8px, 7px, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(8px, 7px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
/* Preloader Css */
.preloader {
  height: 100%;
  left: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.loading-center{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
}
.loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.object{
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.object_one {	
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}
.object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s; 
  animation-delay: 0.25s;
}
.object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes object_one {
75% { -webkit-transform: scale(0); }
}
@keyframes object_one {
  75% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes object_two {
  75% { -webkit-transform: scale(0); }
}
@keyframes object_two {
  75% { 
    transform: scale(0);
    -webkit-transform:  scale(0);
  }
}
@-webkit-keyframes object_three {
  75% { -webkit-transform: scale(0); }
}
@keyframes object_three {
  75% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
/**
 * kenburnsy
 */
.kenburnsy {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.kenburnsy.fullscreen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9;
}

.kenburnsy img {
  display: none;
}

.kenburnsy .slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
/* Scroll up */
#scrollUp {
  bottom: 70px;
  color: #fff;
  font-size: 30px;
  height: 40px;
  line-height: 44px;
  right: 30px;
  text-align: center;
  width: 40px;
}
#scrollUp i{}
/*----------------------------------------*/
/*  2.  Header Area
/*----------------------------------------*/
#header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.boxed-layout #header{
  margin: 0 auto;
  max-width: 1200px;
}
.header {
  padding: 26px 0 22px;
}
.header .logo{}
.header .logo a{}
.header .logo a img{}
.menu-wrapper {
  display: inline-block;
}
.main-menu{}
.main-menu nav{}
.main-menu nav ul{}
.main-menu nav ul li {
  display: inline-block;
  margin: 0 15px;
}
.main-menu nav ul li a {
  color: #111111;
  display: block;
  font-weight: 700;
  padding-bottom: 8px;
  position: relative;
  text-transform: capitalize;
}
.dark-layout .main-menu nav ul li a {
  color: #fff;
}
.main-menu nav ul li a::before {
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
}
.main-menu nav ul li.active a::before,
.main-menu nav ul li:hover a::before {
  width: 100%;
}
.header-button{}
.header-button a, .header-button-2 a {
  border-radius: 3px;
  color: #fff;
  display: block;
  font-weight: 700;
  line-height: 35px;
  padding: 0 30px;
  text-transform: uppercase;
}
.header-button a:hover, .header-button-2 a:hover {
  background-color: #111111;
  color: #fff;
}
.header-button-2 {
  margin-left: 30px;
}
.menu-toggle {
  float: right;
  padding: 2px 5px 1px;
}
.menu-overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.menu-overlay.open {
  display: block;
}
/*----------------------------------------*/
/*  3.  Hero Area
/*----------------------------------------*/
/* Hearo Area 1 */
.hero-area {
  background: rgba(0, 0, 0, 0) url("img/servicio-de-valet-parking-estacionamiento-df-veepe-parking.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 82px;
}
.hero-content {
  padding-top: 170px;
  padding-bottom: 170px;
}
.hero-content img {
  margin-bottom: 35px;
}
.hero-content h1 {
  color: #ffffff;
  font-size: 60px;
  font-family:Bebas Neue;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  max-width: 900px;
}
.hero-content h1 + h1 {
	color:#00BDD6;
	margin-bottom:90px;
	}
.hero-content a {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
}

.hero-content a i {
  display: block;
  float: left;
  font-size: 20px;
  line-height: 45px;
  padding-right: 10px;
}
/* Hero Area 2 */
.hero-area-2 {
  background: rgba(0, 0, 0, 0) url("img/hero-2-bg.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 82px;
}
.hero-content-2 {
  padding-top: 170px;
  padding-bottom: 170px;
}
.hero-content-2 img {
  margin-bottom: 35px;
}
.hero-content-2 h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 60px;
  max-width: 560px;
}
.hero-content-2 a {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
}
.hero-content-2 a:hover {
  background-color: #fff;
}
.hero-content-2 a i {
  display: block;
  float: left;
  font-size: 20px;
  line-height: 45px;
  padding-right: 10px;
}
.hero-image {
  padding-bottom: 55px;
  padding-top: 55px;
}
.hero-image img {}
/*----------------------------------------*/
/*  4.  About APP Area
/*----------------------------------------*/
.about-app-area{}
.about-app-image {}
.about-app-image img {}
.about-app-content {
  margin-top: 15px;
}
.single-about-app {
  padding-left: 64px;
  padding-right: 70px;
}
.single-about-app + .single-about-app {
  margin-top: 35px;
}
.single-about-app .icon {
  border: 1px solid;
  border-radius: 50%;
  display: block;
  float: left;
  height: 56px;
  margin-right: 36px;
  position: relative;
  width: 56px;
  z-index: 1;
}
.single-about-app:hover .icon {
  color: #fff;
}
.single-about-app .icon i {
  display: block;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
}
.single-about-app .icon::before {
  border-radius: 50%;
  bottom: -1px;
  content: "";
  display: block;
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: -1;
}
.single-about-app:hover .icon::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.single-about-app .content {}
.single-about-app .content h4 {
  font-size: 18px;
  font-weight: 700;
  margin: -2px 0 10px;
}
.dark-layout .single-about-app .content h4 {
  color: #fff;
}
.single-about-app .content p {
  line-height: 22px;
}
/* About App Content 2 */
.about-app-content-2 {
}
.about-content {
  margin-bottom: 35px;
  padding-left: 64px;
  padding-right: 70px;
}
.about-content h2 {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
}
.dark-layout .about-content h2 {
  color: #fff;
}
.about-content p {
  font-size: 15px;
}
/*----------------------------------------*/
/*  5.  Feature Area
/*----------------------------------------*/
.feature-area{}
.feature-wrap {
  margin-top: 75px;
}
.single-feature {
  margin-left: -30px;
  margin-right: -30px;
}
.boxed-layout .single-feature {
  margin-left: 0;
  margin-right: 0;
}
.single-feature + .single-feature {
  margin-top: 65px;
}
.single-feature .icon {
  border: 1px solid;
  border-radius: 50%;
  display: block;
  float: left;
  height: 67px;
  margin-right: 20px;
  position: relative;
  width: 67px;
  z-index: 1;
}
.single-feature:hover .icon {
  color: #fff;
}
.single-feature .icon i {
  display: block;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}
.single-feature .icon::before {
  border-radius: 50%;
  bottom: -1px;
  content: "";
  display: block;
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: -1;
}
.single-feature:hover .icon::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.single-feature .content{}
.single-feature .content h3 {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
  margin: -5px 0 10px;
}
.dark-layout .single-feature .content h3 {
  color: #fff;
}
.single-feature .content p{
	font-size: 22px;
	color:#FFF;
	}
.feature-image{}
.feature-image img {}
.feature-image-2{}
.feature-image-2 img {
  padding: 0 15px;
}
/*----------------------------------------*/
/*  6.  ScreenShot Area
/*----------------------------------------*/
.screenshot-area{}
/* ScreenShot Slider 1 */
.screenshot-slider {
  padding: 0 116px
}
.single-screenshot {
  padding: 0 13px;
}
.single-screenshot .image {
  padding-top: 70px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.single-screenshot .image img {
  width: 100%;
}
.single-screenshot.slick-active .image img {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.35);
}
.dark-layout .single-screenshot.slick-active .image img {
  box-shadow: 0 5px 15px 2px rgba(255, 255, 255, 0.35);
}
.single-screenshot.slick-center .image img {
  box-shadow: none;
}
.screenshot-slider::before {
  background: rgba(0, 0, 0, 0) url("img/app-parquimetro-app-estacionamiento-veepe-parking.png") no-repeat scroll center center ;
  -webkit-background-size: cover;
  background-size: cover;
  content: "";
  height: 597px;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width:300px;
  z-index: 9;
}
/* ScreenShot Slider 2 */
.screenshot-slider-2 {
  margin-left: -20px;
  margin-right: -20px;
}
.screenshot-slider-2 .slick-list {
  padding-left: 162px !important;
  padding-right: 162px !important;
}
.single-screenshot-2 {}
.single-screenshot-2.slick-active {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  z-index: 9;
}
.single-screenshot-2.slick-center {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 99 !important;
}
.single-screenshot-2 .image {
  display: block;
  padding: 75px 0;
}
.single-screenshot-2 .image img {}
.ss2-prev {
  left: -80px;
}
.ss2-next {
  right: -80px;
}
/*----------------------------------------*/
/*  7.  Video Area
/*----------------------------------------*/
.video-area {
  background: rgba(0, 0, 0, 0) url("img/video-bg.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.video-popup {
  border: 3px solid #dddddd;
  border-radius: 50px;
  color: #dddddd;
  display: block;
  height: 70px;
  margin: 0 auto;
  width: 70px;
}
.video-popup:focus {
  color: #dddddd;
}
.video-popup:hover {
  border: 3px solid;
}
.video-popup i {
  display: block;
  font-size: 40px;
  line-height: 64px;
  margin-left: 1px;
}
/*----------------------------------------*/
/*  8.  Pricing Area
/*----------------------------------------*/
.pricing-area{}
/* Pricing Style 1 */
.single-pricing{}
.pricing-wrap {
  border-bottom: 15px solid;
  border-top: 15px solid;
}
.active .pricing-wrap {
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
}
.price-header {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-bottom: 40px;
  padding-top: 40px;
}
.dark-layout .price-header {
  border-left: 1px solid #252830;
  border-right: 1px solid #252830;
}
.plan-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.plan-price {
  border: 4px solid;
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: 0 auto;
  padding: 35px 0;
  width: 120px;
}
.plan-price h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}
.plan-price h1 span {
  font-size: 20px;
}
.price-content{}
.price-content li {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  color: #111111;
  line-height: 40px;
}
.dark-layout .price-content li {
  border-left: 1px solid #252830;
  border-right: 1px solid #252830;
}
.dark-layout .price-content li {
  color: #fff;
}
.price-content li.disable {
  color: #666666;
  text-decoration: line-through;
}
.dark-layout .price-content li.disable {
  color: #d0d0d0;
}
.price-content li:nth-child(2n) {
  background-color: #fcfcfc;
}
.dark-layout .price-content li:nth-child(2n) {
  background-color: #1e2127;
}
.price-content li:nth-child(2n+1) {
  background-color: #f1f1f1;
}
.dark-layout .price-content li:nth-child(2n+1) {
  background-color: #252830;
}
.price-footer {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-bottom: 40px;
  padding-top: 40px;
}
.dark-layout .price-footer {
  border-left: 1px solid #252830;
  border-right: 1px solid #252830;
}
.price-footer .signup-btn {
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 52px;
  text-transform: uppercase;
}
.price-footer .signup-btn:hover {
  background-color: #111111;
}
/* Pricing Style 2 */
.single-pricing-2{}
.pricing-wrap-2 {
  border-bottom: 15px solid;
  border-top: 15px solid;
}
.active .pricing-wrap-2 {
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
}
.price-header-2 {
  padding-bottom: 40px;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}
.price-header-2::before {
  content: "";
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.price-header-2::after {
  border-style: solid;
  border-width: 70px 184px 0;
  content: "";
  left: 0;
  position: absolute;
  top: 65px;
  z-index: -1;
}
.plan-title-2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.plan-price-2 {
  background-color: #fff;
  border: 4px solid;
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: 0 auto;
  padding: 35px 0;
  width: 120px;
}
.dark-layout .plan-price-2 {
  background-color: #1e2127;
}
.plan-price-2 h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}
.plan-price-2 h1 span {
  font-size: 20px;
}
.price-content-2{}
.price-content-2 li {
  color: #111111;
  line-height: 40px;
}
.dark-layout .price-content-2 li {
  color: #fff;
}
.price-content-2 li.disable {
  color: #666666;
  text-decoration: line-through;
}
.dark-layout .price-content-2 li.disable {
  color: #d0d0d0;
}
.price-content-2 li:nth-child(2n) {
  background-color: #fcfcfc;
}
.dark-layout .price-content-2 li:nth-child(2n) {
  background-color: #1e2127;
}
.price-content-2 li:nth-child(2n+1) {
  background-color: #f1f1f1;
}
.dark-layout .price-content-2 li:nth-child(2n+1) {
  background-color: #252830;
}
.price-footer-2 {
  padding-bottom: 40px;
  padding-top: 40px;
}
.price-footer-2 .signup-btn {
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 52px;
  text-transform: uppercase;
}
.price-footer-2 .signup-btn:hover {
  background-color: #111111;
}
/*----------------------------------------*/
/*  9.  Team Area
/*----------------------------------------*/
.team-area {
  background: rgba(0, 0, 0, 0) url("img/valet-df-aplicacion-estacionamiento-veepe-parking.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.single-team {
  padding-top: 67px;
}
.team-image {
  border: 5px solid #dddddd;
  border-radius: 50%;
  height: 133px;
  left: 50%;
  margin-left: -67px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 134px;
  z-index: 3;
}
.dark-layout .team-image {
  border: 5px solid #1e2127;
}
.team-image img {
  width: 100%;
}
.team-details {
  background-color: #ebeaea;
  padding: 115px 20px 50px;
}
.dark-layout .team-details {
  background-color: #252830;
}
.team-details h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 11px;
  text-transform: uppercase;
}
.dark-layout .team-details h3 {
  color: #fff;
}
.team-details span {
  color: #111111;
  display: block;
  line-height: 12px;
  margin-bottom: 25px;
}
.dark-layout .team-details span {
  color: #d0d0d0;
}
.team-details p {
  color: #111111;
  line-height: 22px;
}
.dark-layout .team-details p {
  color: #d0d0d0;
}
.team-social {
  margin-bottom: 17px;
}
.team-social a {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 2px;
  width: 28px;
}
.team-social a:hover {
  background-color: #111111;
}
.team-social a i{}
/*----------------------------------------*/
/*  10.  Testimonial Area
/*----------------------------------------*/
.testimonial-area{}
/* Testimonial Style 1 */
.testimonial-slider {
  float: left;
  width: 100%;
}
.single-testimonial {
  padding: 0 15px;
}
.st-wrap {
  background-color: #f1f1f1;
}
.testimonial-image {
  /*margin-right: 50px;*/
  width: 100px;
}
.testimonial-image img {
  width: 100%;
  padding-top: 14px;
  visibility: hidden;
}
.testimonial-content {
  padding-right: 100px;
  padding-top: 40px;
  text-align: center;
}
.testimonial-content h3 {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 13px;
  text-transform: uppercase;
}
.testimonial-content span {
  color: #111111;
  display: block;
  line-height: 12px;
  margin-bottom: 18px;
}
.testimonial-content p {
  color: #111111;
  font-size: 12px;
  line-height: 16px;
}
/* Testimonial Style 1 */
.testimonial-image-slider{}
.single-image-slide {
  padding: 35px 23px;
}
.single-image-slide img {
  border: 3px solid #e8e8e8;
  border-radius: 50%;
}
.single-image-slide.slick-center img {
  -webkit-transform: scale(1.9);
  -ms-transform: scale(1.9);
  transform: scale(1.9);
  border: 2px solid;
}
.tis-prev {
  left: -80px;
}
.tis-next {
  right: -80px;
}
.testimonial-text-slider{}
.single-text-slide{}
.single-text-slide h3 {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin: 28px 0 13px;
  text-transform: uppercase;
}
.dark-layout .single-text-slide h3 {
  color: #fff;
}
.single-text-slide span {
  color: #111111;
  display: block;
  line-height: 12px;
  margin-bottom: 18px;
}
.dark-layout .single-text-slide span {
  color: #d0d0d0;
}
.single-text-slide p {
  color: #111111;
  font-size: 18px;
  line-height: 28px;
}
.dark-layout .single-text-slide p {
  color: #d0d0d0;
}
/*----------------------------------------*/
/*  11.  Download Area
/*----------------------------------------*/
.download-area {
  background: rgba(0, 0, 0, 0) url("img/app-parquimetro-empresas-de-valet-parking-veepe-parking.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
} 
  #about{
  padding-bottom: 7%;
  
}
.download-links{}
.download-links a {
  border-radius: 4px;
  display: inline-block;
  height: 58px;
  margin: 0 30px;
}
.download-links a i {
  border-right: 1px solid #cbced2;
  color: #9da3ac;
  display: block;
  float: left;
  font-size: 33px;
  line-height: 56px;
  width: 63px;
}
.download-links a:hover i {}
.download-links a .text {
  display: block;
  float: left;
  padding: 12px 30px 12px 7px;
}
.download-links a .text span {
  color: #666666;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 2px;
}
.download-links a .text h4 {
  clear: both;
  color: #111111;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
/*----------------------------------------*/
/*  12.  Subscribe Area
/*----------------------------------------*/
.subscribe-area{}
.subscribe-form{}
.subscribe-form form {
  border: 1px dashed;
  display: inline-block;
  padding-left: 30px;
  padding-right: 196px;
  position: relative;
}
.subscribe-form form label {
  display: block;
  float: left;
  height: 48px;
  margin: 0;
  padding: 0 5px;
}
.subscribe-form form label i {
  color: #434343;
  display: block;
  font-size: 18px;
  line-height: 48px;
}
.dark-layout .subscribe-form form label i {
  color: #fff;
}
.subscribe-form form input {
  background-color: transparent;
  border: medium none;
  display: block;
  float: left;
  height: 48px;
  padding: 12px 15px;
  width: 405px;
}
.dark-layout .subscribe-form form input {
  color: #fff;
}
.subscribe-form form button {
  border: medium none;
  border-radius: 4px;
  bottom: -1px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  position: absolute;
  right: -1px;
  text-transform: uppercase;
  top: -1px;
  width: 196px;
}
.subscribe-form form button i {
  font-size: 18px;
  margin-left: 15px;
}
.subscribe-form form button:hover {
  background-color: #111111;
}
.dark-layout .mailchimp-alerts > div {
  color: #d0d0d0;
}
/*----------------------------------------*/
/*  13.  Contact Area
/*----------------------------------------*/
.contact-area {}
/* Contact Info */
.contact-info {
  border: 1px solid #00BDD6;
  padding: 27px 25px 40px 55px;
}
.dark-layout .contact-info {
  border: 1px solid #00BDD6;
}
.contact-info h2 {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 30px;
}
.dark-layout .contact-info h2 {
  color: #fff;
}
.contact-info > div {
  margin-bottom: 20px;
}
.contact-info > div:last-child {
  margin-bottom: 0;
}
.contact-info > div span {
  color: #333333;
  display: block;
  float: left;
  min-width: 85px;
}
.dark-layout .contact-info > div span {
  color: #fff;
}
.contact-info > div p {
  color: #666666;
  display: block;
  overflow: hidden;
}
.dark-layout .contact-info > div p {
  color: #d0d0d0;
}
.contact-info > div p i{}
.contact-info > div p a {
  color: #666666;
  display: block;
  overflow: hidden;
}
.dark-layout .contact-info > div p a {
  color: #d0d0d0;
}
.contact-info > div p a:hover {}
/* Contact Form */
.contact-form {
  border: 1px solid #00BDD6;
  padding: 27px 48px 40px 32px;
}
.dark-layout .contact-form {
  border: 1px solid #00BDD6;
}
.contact-form h2 {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 30px;
}
.dark-layout .contact-form h2 {
  color: #fff;
}
.contact-form form {
  padding-left: 16px;
  position: relative;
}
.contact-form form input {
  background-color: transparent;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: 0 0 1px;
  color: #666666;
  display: block;
  line-height: 29px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
.dark-layout .contact-form form input {
  border-color: rgba(0, 171, 216, 0.49);;
  color: #fff;
}
.contact-form form textarea {
  background-color: transparent;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: 0 0 1px;
  color: #666666;
  display: block;
  height: 52px;
  padding: 0;
  resize: none;
  width: 100%;
}
.dark-layout .contact-form form textarea {
  border-color: rgba(0, 171, 216, 0.49);
  color: #fff;
}
.contact-form form .submit {
  background-color: #00BDD6;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 23px;
  text-transform: capitalize;
}
.contact-form form .submit:hover {
  background-color: #111111;
  color: #fff;
}
.contact-form form .submit i {
  margin-left: 14px;
}
.form-messege {
  padding-left: 16px;
  color: #666666;
}
.form-messege.error {
  color: #ff0000;
  margin-top: 15px;
}
.form-messege.success {
  color: #008315;
  margin-top: 15px;
}
#buttonFormSend {
    text-align: right;
	margin-top: 30px;
}
/* Contact Map */
#contact-map {
  height: 585px;
  width: 100%;
}
/*----------------------------------------*/
/*  14.  Footer Area
/*----------------------------------------*/
.footer-area{
	padding: 30px;
}
.footer-copyright {
}
.footer-copyright p {
  color: #333333;
}
.dark-layout .footer-copyright p {
  color: #d0d0d0;
}
.footer-email{}
.footer-email .mail-icons {
  margin-top: -20px;
}
.footer-email .mail-icons a {
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}
.footer-email .mail-icons a:hover {
  background-color: #111111;
}
.footer-email .mail-icons a i {
  display: block;
  line-height: 40px;
  font-size: 20px;
}
.footer-email h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin: 23px 0 0;
}
.footer-social {
	position: relative;
    top: -8px;
    margin-left: 25%;
    padding-bottom: 10px;
}
.footer-social a {
  border-radius: 50px;
  color: #fff;
  display: block;
  float: left;
  height: 40px;
  margin-right: 30px;
  text-align: center;
  width: 40px;
}
.footer-social a:last-child {
  margin-right: 0;
}
.footer-social a:hover {
  background-color: #111111;
}
.footer-social a i {
  display: block;
  line-height: 40px;
  font-size: 22px;
}
.copyright{
	padding: 30px 0;
    margin-left: 392px;
}
.footer-logo {
    margin-top: 7%;
    margin-left: 39%;
}
.footer-copyright a {
    color: #fff;
}
.footer-social h4 {
    position: relative;
    top: 41px;
    margin-left: -39%;
}
#terminos {
    width: 100%;
    display: inline-block;
    text-align: center;
}
#terminos a {
    color: white;
}
/*----------------------------------------*/
/*  15.  Coming Soon
/*----------------------------------------*/
.coming-soon-page {
  background: rgba(0, 0, 0, 0) url("img/coming-soon-bg.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}
.coming-soon-wrapper{}
.coming-soon-wrapper h1 {
  color: #00ccff;
  font-size: 38px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 20px;
}
.coming-soon-wrapper p {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 60px;
}
/* CountDown */
#ccounter {
  display: inline-block;
  margin-bottom: 45px;
}
#ccounter li {
  display: block;
  float: left;
  margin-right: 130px;
  position: relative;
}
#ccounter li:last-child {
  margin-right: 0;
}
#ccounter li span {
  color: #444444;
  font-size: 12px;
  font-weight: 700;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translateX(-50%);
}
#ccounter li input {
  color: #444444 !important;
  font-size: 36px !important;
  margin-top: 50px !important;
}
/* Subscribe */
.subscribe-form-2 {
  margin-bottom: 60px;
}
.subscribe-form-2 form {
  border: 1px dashed #00ccff;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 14px;
}
.subscribe-form-2 form input {
  border: medium none;
  color: #666666;
  display: block;
  float: left;
  line-height: 25px;
  padding: 0;
  width: 290px;
}
.subscribe-form-2 form button {
  background-color: #00ccff;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  width: 110px;
}
.subscribe-form-2 form button:hover {
  background-color: #111111;
}
/* Social */
.coming-soon-wrapper .social {
  display: inline-block;
}
.coming-soon-wrapper .social a {
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  height: 55px;
  margin: 0 6px;
  width: 55px;
}
.coming-soon-wrapper .social a:hover {
  background-color: #111111;
}
.coming-soon-wrapper .social a i {
  display: block;
  font-size: 14px;
  line-height: 55px;
}
/*----------------------------------------*/
/*  16.  404 Page
/*----------------------------------------*/
.page-404 {
  background: rgba(0, 0, 0, 0) url("img/404-bg.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 175px 0 75px;
}
.wrapper-404{}
.wrapper-404 img {
  display: block;
  margin: 0 auto;
}
.wrapper-404 .image-404 {
  margin-bottom: 48px;
}
.wrapper-404 .image-opps {
  margin-bottom: 45px;
}
.wrapper-404 p {
  color: #fffefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}
/* Search Form */
.wrapper-404 .search-form {
  margin: 45px 0 53px;
}
.wrapper-404 .search-form form {
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
}
.wrapper-404 .search-form form input {
  border: medium none;
  color: #333333;
  display: block;
  float: left;
  height: 40px;
  padding: 0 22px;
  width: 320px;
}
.wrapper-404 .search-form form button {
  background-color: transparent;
  border: medium none;
  display: block;
  float: left;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
}
.wrapper-404 .search-form form button i{}
.wrapper-404 .back-button {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 40px;
  margin-bottom: 80px;
  padding: 0 30px;
  text-transform: uppercase;
}
.wrapper-404 .back-button:hover {
  background-color: #111111;
}
.wrapper-404 .back-button i {
  margin-right: 15px;
}
.wrapper-404 .logo {
  margin-bottom: 60px;
}
/* Social */
.wrapper-404 .social {
  display: inline-block;
  margin-bottom: 45px;
}
.wrapper-404 .social a {
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  height: 45px;
  margin: 0 6px;
  width: 45px;
}
.wrapper-404 .social a:hover {
  background-color: #111111;
}
.wrapper-404 .social a i {
  display: block;
  font-size: 14px;
  line-height: 45px;
}
.wrapper-404 .copyright {
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}
.wrapper-404 .copyright span {}

.content-pensiones{
	display: flex;
}
.content-img {
    text-align: center;
    margin-bottom: 7%;
}
.content.fix h4, .content.fix p {
    width: 80%;
}
#testimonial {
    background: #24272F;
    padding-bottom: 7%;
}
.screenshot-area {
    padding-bottom: 7%;
}
.subscribe-area {
    padding-bottom: 7%;
}
.feature-area {
    padding-bottom: 7%;
}
#download {
	padding-bottom: 7%;
}
.about-app-area {
    background: #242730;
}
#comoFunciona {
    padding-bottom: 7%;
}
.about-app-image.text-right.col-lg-6.col-md-5.col-xs-12 {
    margin-top: 10px;
}
