
.guiaestilo {
	
	#panel {
		position: fixed;
		right: 0px;
		top: 0px;
		width: 360px;
		height: 100vh;
		background-color: #333;
		display: inline-block;
		z-index: 10;
		padding: 12px;
		color: white;
	}
	
	#preview {
		padding-right: 360px;
		
		.interactable {
			cursor: pointer;
		}
		
		// paleta de color
		.paleta .color {
			width: 160px;
			height: 160px;
			text-align: left;
			padding: 8px;
			color: white;
			text-shadow: 1px 1px 2px black;
			.opensans_light;
	
			&.dark_primary { background-color: @Dark_Primary; }
			&.dark_secondary { background-color: @Dark_Secondary; }
			&.dark_tetrary { background-color: @Dark_Tetrary; }
			&.medium { background-color: @Medium; }
			&.divider { background-color: @Divider; }
			&.header { background-color: @Header; }
			&.light_primary { background-color: @Light_Primary; }
			&.accent { background-color: @Accent; }
			&.accent_hover { background-color: @Accent_Hover; }
			&.true { background-color: @True; }
			&.false_normal { background-color: @False_Normal; }
			&.false_hover { background-color: @False_Hover; }
		}
		
		.uso_tipografico {
			max-height: 480px;
			
			&>div {
				align-self: flex-start;
				display: inline-block;
				width: 432px;
				height: 48px;
			}
		}
	}

}

