/* VARIABLES **************************************************************** */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

//!Variables
@altoHeader: 56px;

.imgHoverActive (@normal,@hover,@active) {
	background-image: url(@normal);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&:hover {
		background-image: url(@hover);
	}

	&:active, &.active {
		background-image: url(@active);
	}
}

/* COLORES ****************************************************************** */
//!Colores
@Dark_Primary: #414042;
@Dark_Secondary: #2C2A2D;
@Dark_Tetrary: #090A19;
@Medium: #A3A6A4;
@Divider: #D6D5D6;
@Header: #E8EAE9;
@Light_Primary: #EFF1F3;
@Accent: #00BFD6;
@Accent_Hover: #00ABD3;
@True: #7ED321;
@False_Normal: #D0021B;
@False_Hover: #AF0D13;

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
*, *:hover, *:active, *:focus {
	outline: none;
}

header {
	position: fixed;
	height: @altoHeader;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 10;

	background-color: @Accent;
}

body {
	background-color: @Dark_Tetrary;
	font-family: 'Open Sans', sans-serif;
}

.row{
	margin: 0;
	padding: 0;
}


div#edit-account {
	width: 90%;
	margin: 0 auto;

	input {
		@media (max-width: 400px) {
			width: 100%;
		}
		@media (min-width: 400px) {
			width: 100%;
			//width: 50%;
			//min-width: 400px;
		}
	}

	label[for=edit-mail] {
		display: none;
	}
	#edit-mail {
		display: none;
	}
}

#user-profile-form fieldset {
	display: none;
}

#user-profile-form .form-actions {
	width: 90%;
	margin: 0 auto;
}

#formNip {
	@media (max-width: 400px) {
		width: auto;
		max-width: initial;
	}
	@media (min-width: 400px) {
		width: 400px;
		max-width: 90%;
	}
}



/* USO TIPOGRÁFICO ********************************************************** */
//!Uso Tipográfico

h1, h2, h3, h4, h5 {
	margin: 0px;
}

h1 {
	.opensans_light;
	font-size: 36px;
	line-height: 36px;
	color: @Dark_Primary;

	&.white {
		color: #FFFFFF;
	}

	word-break: break-all;
}

h2 {
	.opensans_bold;
	font-size: 28px;
	line-height: 32px;
	color: @Dark_Primary;

	&.white {
		color: #FFFFFF;
		margin: 0;
		display: inline-block;
	}

	&.gray {
		color: @Medium;
		margin: 0;
		display: inline-block;
	}

	word-break: break-all;
}

h3 {
	.opensans_light;
	font-size: 24px;
	line-height: 28px;
	color: @Dark_Primary;

	&.white {
		color: #FFFFFF;
	}

	word-break: break-all;
}

h4 {
	.opensans_bold;
	font-size: 21px;
	line-height: 24px;
	color: @Dark_Primary;

	&.white {
		color: #FFFFFF;
		padding: 8px 0px;
		margin: 0;
		display: inline-block;
	}

	&.blue {
		color: @Accent;
		padding: 8px 0px;
		margin: 0;
		display: inline-block;
	}

	word-break: break-all;
}

h5 {
	.opensans_semibold;
	font-size: 18px;
	line-height: 21px;
	color: @Dark_Primary;

	&.white {
		color: #FFFFFF;
		padding: 8px 0px;
		margin: 0;
		display: inline-block;
	}

	&.blue {
		color: @Accent;
		padding: 8px 0px;
		margin: 0;
		display: inline-block;
	}

	word-break: break-all;
}

.body1 {
	.opensans;
	font-size: 18px;
	line-height: 21px;
	color: @Dark_Primary;
}

.body2 {
	.opensans;
	font-size: 16px;
	line-height: 18px;
	color: @Dark_Primary;
}

.body3 {
	.opensans;
	font-size: 14px;
	line-height: 16px;
	color:	@Medium;

}

.body3_B {
	.body3;
	color: #FFFFFF;
	word-break: break-all;
}

.body3_A {
	.body3;
	color:	@Accent;

}


.quote {
	.opensans;
	font-size: 14px;
	line-height: 16px;
	color: @Dark_Primary;
}

.placeholder {
	.opensans;
	font-size: 14px;
	line-height: 16px;
	color: @Medium;
}

.input_activo {
	.opensans_semibold;
	font-size: 14px;
	line-height: 16px;
	color: @Dark_Primary;
}

.input_error {
	.opensans_bold;
	font-size: 14px;
	line-height: 16px;
	color: @False_Normal;
}

.switch_inactivo {
	.opensans_semibold;
	font-size: 12px;
	color: @Medium;
}

.switch_activo {
	.opensans_bold;
	font-size: 12px;
	line-height: 21px;
	color: @Dark_Primary;
}

.hyperlink,
.hyperlink:active,
.hyperlink:focus {
	.opensans_semibold;
	font-size: 14px;
	line-height: 16px;
	color: @Accent;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: @Accent_Hover;
		text-decoration: none;
	}
}

.table_header {
	.opensans_bold;
	background-color: @Dark_Primary;
	font-size: 12px;
	line-height: 16px;
	color: @Medium;
	padding: 16px 12px;
}

.table_subheader {
	.opensans_semibold;
	background-color: @Medium;
	font-size: 12px;
	line-height: 16px;
	color: @Dark_Primary;
	padding: 16px 12px;
}

.table_content {
	.opensans;
	background-color: @Light_Primary;
	font-size: 12px;
	line-height: 16px;
	color: #55595B;
	padding: 16px 12px;
}

.table_selected {
	.opensans_bold;
	background-color: @Accent;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 12px;
}



/* FUNCIONES **************************************************************** */
//!Funciones
.img_size(@width, @height) {
	background-size: contain;
	width: @width;
	height: @height;
}



/* BOTONES ****************************************************************** */
//!Botones
@anchoBoton:	240px;
@altoBoton:		40px;

.btn {
	.opensans_semibold;
	cursor: pointer;
	border: none;
	width: @anchoBoton;
	height: @altoBoton;
	text-decoration: none;
	display: inline-block;
	line-height: @altoBoton;
	text-align: center;
	padding: 0px 12px;
}

.btn_hover {
	.opensans_bold;
	text-decoration: none;
}

.BR_Regular_N {
	.btn;
	background-color: @Accent;
	font-size: 12px;
	color: #FFFFFF;
	width: 432px;
	height: 40px;

	&:hover {
		.btn_hover;
		background-color: @Accent_Hover;
		color: #FFFFFF;
	}

	&:active, &:focus, &:link, &:visited {
		text-decoration: none;
		color: #FFFFFF;
	}

}

.BR_Fantasma_N	{
	.btn;
	background-color: #FFFFFF;
	font-size: 12px;
	color: @Accent;
	width: 432px;
	height: 40px;

	&:hover {
		.btn_hover;
		text-decoration: none;
		color: @Accent;
	}

	&:active, &:focus, &:link, &:visited {
		text-decoration: none;
		color: @Accent;
	}
}

.B_Regular_N {
	.btn;
	background-color: @Accent;
	border-radius: 8px;
	font-size: 12px;
	color: #FFFFFF;

	&:hover {
		.btn_hover;
		background-color: @Accent_Hover;
		color: #FFFFFF;
	}

	&:active, &:focus, &:link, &:visited {
		text-decoration: none;
		color: #FFFFFF;
	}
}

.B_Regular_I {
	.btn;
	opacity: 0.6;
	background-color: @Accent;
	border-radius: 8px;
	font-size: 12px;
	color: #FFFFFF;

	&:active, &:focus, &:link, &:visited, &:hover {
		text-decoration: none;
		color: #FFFFFF;
	}
}

.B_Fantasma_N {
	.btn;
	background-color: #FFFFFF;
	border-radius: 8px;
	font-size: 12px;
	color: @Accent;

	&:hover{
		.btn_hover;
		text-decoration: none;
		color: @Accent;
	}

	&:active, &:focus, &:link, &:visited {
		text-decoration: none;
		color: @Accent;
	}
}

.B_Fantasma_I {
	.btn;
	opacity: 0.6;
	background-color: #FFFFFF;
	border-radius: 8px;
	font-size: 12px;
	color: @Accent;

	&:active, &:focus, &:link, &:visited, &:hover {
		text-decoration: none;
		color: @Accent;
	}
}

.B_Delete_N {
	.btn;
	background-color: @False_Normal;
	border-radius: 8px;
	font-size: 12px;
	color: #FFFFFF;

	&:hover {
		.btn_hover;
		background-color: @False_Hover;
		color: #FFFFFF;
	}

	&:active, &:focus, &:link, &:visited {
		text-decoration: none;
		color: #FFFFFF;
	}
}

.B_Delete_I {
	.btn;
	opacity: 0.6;
	background-color: @False_Normal;
	border-radius: 8px;
	font-size: 12px;
	color: #FFFFFF;

	&:active, &:focus, &:link, &:visited, &:hover {
		text-decoration: none;
		color: #FFFFFF;
	}
}

.BB_Fantasma_N {
	.btn;
	background-color: transparent;
	border: 2px solid @Accent;
	border-radius: 8px;
	font-size: 12px;
	color: @Accent;

	&:hover {
		.btn_hover;
		color: @Accent;
	}

	&:active, &:focus, &:link, &:visited {
		text-decoration: none;
		color: @Accent;
	}
}

.B_Plus_N{
	.imgHoverActive ('../img/botones/b_plus_n.svg',
	'../img/botones/b_plus__h.svg',
	'../img/botones/b_plus__h.svg');

    width: 32px;
	height: 32px;
	cursor: pointer;
}



/* TOGGLES & TABS *********************************************************** */
//!Toogles

/* SWITCHES ***************************************************************** */
//!Switches

/* CHECKBOXES *************************************************************** */
//!Checkboxes
/**
 * Estan agregandos 4 checkbos en js/guiaestilo.js
 * Para agregar más, hay que agregar su correspondiente codigo js
 */

input[type="checkbox"] {
	display:none;
}

input[type="checkbox"] + label {
	.opensans_semibold;
	font-size: 14px;
	color: #EFF1F3;
	line-height: 16px;
}

input[type="checkbox"] + label span.checkbox {
	display:inline-block;
	width:32px;
	height:32px;
	margin:-2px 4px 0 0;
	vertical-align:middle;
	background:url(../img/botones/b_check_n.svg) left top no-repeat;
	cursor:pointer;
}

input[type="checkbox"] + label span.checkbox:hover {
	background:url(../img/botones/b_check_h.svg) top no-repeat;
}

input[type="checkbox"]:checked + label span.checkbox {
	background:url(../img/botones/b_check_a.svg) top no-repeat;
}

/* RADIO BUTTON ************************************************************* */
//!Radio button
/**
 * Estan agregandos 4 radio buttons en js/guiaestilo.js
 * Para agregar más, hay que agregar su correspondiente codigo js
 */
input[type="radio"] {
	display:none;
}

input[type="radio"] + label {
	.opensans_semibold;
	font-size: 14px;
	color: #EFF1F3;
	line-height: 16px;
}

input[type="radio"] + label span.radio {
	display:inline-block;
	width:32px;
	height:32px;
	margin:-2px 4px 0 0;
	vertical-align:middle;
	background:url(../img/botones/B_Radio_N.svg) left top no-repeat;
	cursor:pointer;
}

input[type="radio"] + label span.radio:hover {
	background:url(../img/botones/B_Radio_H.svg) top no-repeat;
}

input[type="radio"]:checked + label span.radio {
	background:url(../img/botones/B_Radio_A.svg) top no-repeat;
}


/* TOOLTIP ****************************************************************** */
//!Tooltip

.row_validador {
	max-height: 40px;
	margin-bottom: 16px;
	//padding: 0px;

	.validador {
		position: relative;
		top: -45px;
		right: -424px;
		z-index: 4;
		display: none !important;		// SE ESCONDEN LOS TOOLTIPS PARA VALIDACION!!!!!!!!!

		.triangulito {
			position: relative;
			width: 0;
			height: 0;
			left: -8px;
			border-style: solid;
			border-width: 10px 8px 10px 0;
			border-color: transparent @Dark_Primary transparent transparent;
		}

		span.mensaje {
			.opensans_light;
			top: -20px;
			position: relative;
			background-color: @Dark_Primary;
			border-radius: 4px;
			font-size: 14px;
			color: #FFFFFF;
			padding: 10px 8px;
		}
	}
}

/* PAGERS ******************************************************************* */
//!Pagers

/* INPUTS ******************************************************************* */
// !Inputs
@ancho_input: 416px;
@alto_input: 40px;

label {
	.body3_A;
	padding: 12px 0px;
}

label + span {
	padding: 0px 8px;
}

.estilo_Inputs {
	.opensans;
	width: 100%; //@ancho_input;
	height: @alto_input;
	padding: 0px 16px;
	margin-bottom: 16px;
	border: none;
	font-size: 14px;
	line-height: 40px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"] {
	.estilo_Inputs;
}

.paloma {
	background-image: url('../img/iconos/ico_success.svg');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: right;
}

.cruz {
	background-image: url('../img/iconos/ico_error.svg');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: right;
}

.flecha_regresar {
	background-image: url('../img/botones/b_back_h.svg');
	background-size: 48px 48px;
}

.formaDark .requerido, .formaRegular .requerido {
	display: inline-block;
	position: relative;
	width: 100%; //@ancho_input;

	.marca {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 16px;
		height: 16px;
		background-image: url('../img/varios/obligatory_field.svg');
		background-repeat: no-repeat;
	}

	.calendario {
		background-image: url('../img/botones_tabla/b_tabla_calendar_i.svg');
		background-repeat: no-repeat;
		background-size: 32px 32px;
		background-position: right;
	}

}

/* DARK FORM **************************************************************** */
//!Dark Form
.formaDark {
	margin: 0px; //0px 16px;
	//max-width: @ancho_input;
	//width: 848px;

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="date"],
	input[type="number"],
	input[type="tel"] {
		background-color: @Dark_Primary;
		color: @Medium;

		&:active, &:focus, &.active {
			._active;

			&.paloma {
				background-size: 0px 0px;
			}
		}

		&:disabled {
			&:active, &:focus, &.active {
				.estilo_Inputs;
				color: @Medium;
			}
		}

		&.success {
			._success;
			color: @Accent;

			&:active, &:focus{
				._active;
			}
		}

		&.error {
			._error;
			color: #FFFFFF;

			&:active, &:focus {
				._active;
			}
		}
	}

	label.textarea_label {
		.opensans_semibold;
		position: absolute;
		padding-left: 16px;
		color: #FFFFFF;
	}

	textarea {
		.estilo_Inputs;
		line-height: 14px;
		background-color: @Dark_Primary;
		color: @Medium;
		padding: 8px 16px;
		resize: none;
		height: auto;

		&.servicios {
			padding-top:32px;
		}

		&:active, &:focus{
			._active;
		}

		&.success {
			._success;
			color: @Accent;

			&:active, &:focus{
				._active;
			}
		}

		&.error {
			._error;
			color: #FFFFFF;

			&:active, &:focus {
				._active;
			}
		}
	}

	select {
		.estilo_Inputs;
		background-color: @Dark_Primary;
		color: @Medium;
		padding: 8px 16px;

		&.fondo_opaco {
			background: rgba(65,63,65,0.60);
		}

		&:active, &:focus, &.active {
			._active;

			&.paloma {
				background-size: 0px 0px;
			}
		}

		&.success {
			._success;
			color: @Accent;

			&:active, &:focus{
				._active;
			}
		}

		&.error {
			._error;
			color: #FFFFFF;

			&:active, &:focus {
				._active;
			}
		}
	}

	input.datepicker {
		.estilo_Inputs;
		//background: rgba(65,63,65,0.60);
		background-color: @Dark_Primary;
		color: @Medium;

		&.success {
			._success;
			color: @Accent;

			&:active, &:focus{
				._active;
			}
		}

		&.error {
			._error;
			color: #FFFFFF;

			&:active, &:focus {
				._active;
			}
		}
	}
}



.timepicker .btn {
	width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
	background-color: #00c1d6;
	border: 1px solid #00c1d6;
	border-radius: 0px;
	right: 0px !important;
	left: auto !important;
	height: 80px;
	color: white;
	margin-top: 0px;
	min-width: 120px;
	
	.timepicker {
		.table-condensed {
			margin: 0 auto;
			
			td {
				padding: 1px;
				text-align: center;
			}
			
			.btn {
				height: initial;
				line-height: initial;
			}
		}
	}
}

.form-control {
	border-radius: 0px;
}

.input-group.date span.input-group-addon {
	background-color: #00c1d6;
	border: 1px solid #00c1d6;
	color: white;
	border-radius: 0px;
}




/* REGULAR FORM ************************************************************* */
//!Regular Form
.formaRegular {
	margin: 0px 16px;
	max-width: @ancho_input;

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="date"],
	input[type="number"],
	input[type="tel"] {
		background-color: @Light_Primary;
		color: @Dark_Primary;

		&:active, &:focus, &.active {
			._active;
			color: @Dark_Primary;
		}

		&.success {
			._success;
			color: @Dark_Primary;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}

		&.error {
			._error;
			color: @False_Normal;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}
	}

	textarea {
		.estilo_Inputs;
		line-height: 14px;
		background-color: @Light_Primary;
		color: @Medium;
		padding: 8px 16px;
		resize: none;
		height: auto;

		&.servicios {
			padding-top:32px;
		}

		&:active, &:focus, &.active {
			._active;
			color: @Dark_Primary;
		}

		&.success {
			._success;
			color: @Dark_Primary;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}

		&.error {
			._error;
			color: @False_Normal;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}
	}

	select {
		.estilo_Inputs;
		background-color: @Light_Primary;
		color: @Dark_Primary;
		padding: 8px 16px;

		&:active, &:focus, &.active {
			._active;
			color: @Dark_Primary;
		}

		&.success {
			._success;
			color: @Dark_Primary;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}

		&.error {
			._error;
			color: @False_Normal;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}
	}

	input.datepicker {
		.estilo_Inputs;
		background-color: @Light_Primary;
		color: @Medium;

		&:active, &:focus, &.active {
			._active;
			color: @Dark_Primary;
		}

		&.success {
			._success;
			color: @Dark_Primary;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}

		&.error {
			._error;
			color: @False_Normal;

			&:active, &:focus {
				._active;
				color: @Dark_Primary;
			}
		}
	}
}

/* CLASES INPUT	************************************************************ */
._active {
	.opensans_semibold;
	border-style: solid;
	border-width: 2px;
	border-color: @Accent;
	color: @Accent;
}

._success {
	.opensans_semibold;
	border-style: solid;
	border-width: 2px;
	border-color: @True;
	color: @Accent;
}

._error {
	.opensans_bold;
	border-style: solid;
	border-width: 2px;
	border-color: @False_Normal;
	color: #FFFFFF;
}

input {
	&.active {
		._active;
	}

	&.success {
		._success;
	}

	&.error {
		._error;
	}
}

/* ROW BUSCAR	************************************************************ */
.lupa {
	background-image: url('../img/botones/b_buscar_n.svg');
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	width: 24px;
	padding: 5px;
	margin-left: 56px;
	margin-top: 12px;
	height: 24px;
}

/* TABLAS ******************************************************************** */
//!Tablas
.row_header(@param) {
	.table_header;
	width: @param;
	margin-right: -4px;
	margin-top: 0px;
	height: 48px;
	text-align: center;
}

.dataTables_wrapper {
	@rowHeight : 40px;

	label {
		margin: 0px;
	}

	.toolbar {
		background-color: #00BFD6;
		height: 48px;
		position: relative;

		.encabezado {
			color: white;
			font-size: 24px;
			font-weight: 100;
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		input[type=search] {
			padding-left: 18px;
			border: none;
			width: 240px;
			border-radius: 100px;
			line-height: 24px;
			font-weight: 300;
			font-size: 12px;
			color: @Medium;
			margin-right: 18px;
			padding: 0px 12px;
		}
	}

	.icono {
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		margin: 8px;
		display: inline-block;

		&.empresa {
			background-image: url('../img/botones_tabla/b_tabla_empresa_i.svg');
		}
	}

	.boton {
		.icono;
		cursor: pointer;

		&.detalle {
			.imgHoverActive ('../img/botones_tabla/b_tabla_detail_n.svg',
			'../img/botones_tabla/b_tabla_detail_h.svg',
			'../img/botones_tabla/b_tabla_detail_h.svg');
		}
		&.email {
			.imgHoverActive ('../img/botones_tabla/b_tabla_mail_n.svg',
			'../img/botones_tabla/b_tabla_mail_h.svg',
			'../img/botones_tabla/b_tabla_mail_h.svg');
		}
		&.editar {
			.imgHoverActive ('../img/botones_tabla/b_tabla_edit_n.svg',
			'../img/botones_tabla/b_tabla_edit_h.svg',
			'../img/botones_tabla/b_tabla_edit_h.svg');
		}
		&.borrar {
			.imgHoverActive ('../img/botones_tabla/b_tabla_erase2_n.svg',
			'../img/botones_tabla/b_tabla_erase2_h.svg',
			'../img/botones_tabla/b_tabla_erase2_h.svg');
		}
	}

	tbody td {
		color: #55595B;
		font-size: 12px;
	}

	.dataTables_paginate {
		width: 100%;
		background-color: #00BFD6;
		text-align: center;
		color: white;
		padding: 2px 0px;
		float: none;
		height: 48px;
		line-height: 40px;

		.paginate_button {
			padding: 0px;
			margin: 0px 4px;
		}
	}
}

.s_table_icon {
	width: 20px;
	height: 20px;
	margin: 0px;
}

.s_estacionamiento {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_estacionamiento_a.svg');
}

.s_estacionamiento {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_estacionamiento_a.svg');
}

.s_lavado {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_lavado_a.svg');
}

.s_pension {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_pension_a.svg');
}

.s_pension_compartida {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_pensioncompartida_a.svg');
}

.s_reserva {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_reserva_a.svg');
}

.s_valet {
	.s_table_icon;
	background-image: url('../img/iconos_servicios/ico_servicios_valet_a.svg');
}


/* TABLA EMPLEADOS	********************************************************* */
//!Tabla Empleados
@e_ancho_col1: 40px;
@e_ancho_col2: 328px;
@e_ancho_col3: 80px;
@e_ancho_col4: 160px;

.e_header_col1{
	.row_header(@e_ancho_col1);
}

.e_header_col2{
	.row_header(@e_ancho_col2);
	text-align: left;
}

.e_header_col3{
	.row_header(@e_ancho_col3);
}

.e_header_col4, .e_header_col5, .e_header_col6 {
	.row_header(@e_ancho_col4);
}

.e_header_col1 span,
.e_header_col6 span {
	color: @Dark_Primary;
}

.e_img {
	background: url(../img/botones_tabla/b_tabla_user_i.svg) no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
	padding: 0px;
	margin: 0px;
}

.empleados {
	overflow-x:auto;
	height: 600px;

	table {
		td{
			.table_content;
			text-align: center;

			&.e_col1 {
				width: @e_ancho_col1;
				padding: 16px 8px;
			}

			&.e_col2 {
				width: @e_ancho_col2;
				text-align: left;
			}

			&.e_col3 {
				width: @e_ancho_col3;
			}

			&.e_col4, &.e_col5 {
				width: @e_ancho_col4;
			}

			&.e_col6 {
				width: @e_ancho_col4;

				div {
					display: inline-block;
				}
			}
		}
	}
}

/* TABLA HISTORIAL	********************************************************* */
//!Tabla Historial
@h_ancho_col1: 368px;
@h_ancho_col2: 80px;
@h_ancho_col3: 160px;

.h_header_col1{
	.row_header(@h_ancho_col1);
	text-align: left;
}

.h_header_col2{
	.row_header(@h_ancho_col2);
}

.h_header_col3, .h_header_col4, .h_header_col5 {
	.row_header(@h_ancho_col3);
}

.historial {
	overflow-x:auto;
	height: 144px;

	table {
		td{
			.table_content;
			text-align: center;

			&.h_col1 {
				width: @h_ancho_col1;
				text-align: left;
			}

			&.h_col2 {
				width: @h_ancho_col2;
			}

			&.h_col3, &.h_col5 {
				width: @h_ancho_col3;
			}

			&.h_col4 {
				.hyperlink;
				width: @h_ancho_col3;
				font-size: 12px;
			}
		}
	}
}

/* TABLA ESTACIONAMIENTOS	********************************************************* */
//!Tabla Estacionamientos
@p_ancho_col1: 40px;
@p_ancho_col2: 280px;
@p_ancho_col3: 240px;
@p_ancho_col4: 184px;

.tabla_estacionamientos {
	.p_header_col1{
		.row_header(@e_ancho_col1);
	}

	.p_header_col2{
		.row_header(@e_ancho_col2);
		text-align: left;
	}

	.p_header_col3{
		.row_header(@e_ancho_col3);
	}

	.p_header_col4, .p_header_col5,  {
		.row_header(@e_ancho_col4);
	}

	.p_img {
		background: url(../img/botones_tabla/b_tabla_estacionamiento_i.svg) no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
		padding: 0px;
		margin: 0px;
	}

	.estacionamientos {
		overflow-x:auto;
		height: 660px;

		table {
			td{
				.table_content;
				text-align: center;

				&.p_col1 {
					width: @e_ancho_col1;
					padding: 16px 8px;
				}

				&.p_col2 {
					width: @e_ancho_col2;
					text-align: left;
				}

				&.p_col3,  {
					width: @e_ancho_col3;
				}

				&.p_col4, &.p_col5 {
					width: @e_ancho_col4;

					div {
						display: inline-block;
					}
				}

				&.p_col5 {
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}
}

/* TABLA CLIENTES	********************************************************* */
//!Tabla Clientes
@c_ancho_col1: 40px;
@c_ancho_col2: 180px;
@c_ancho_col3: 84px;

.c_header_col1{
	.row_header(@c_ancho_col1);
}

.c_header_col2{
	.row_header(@c_ancho_col2);
	text-align: left;
}

.c_header_col3{
	.row_header(@c_ancho_col2);
}

.c_header_col4 {
	.row_header(@c_ancho_col3);
}

.c_header_col5 {
	.row_header(@c_ancho_col3);
}

.c_header_col6 {
	.row_header(@c_ancho_col2);
}

.c_header_col7 {
	.row_header(@c_ancho_col2);
}

.c_header_col1 span,
.c_header_col6 span {
	color: @Dark_Primary;
}

.c_img {
	background: url(../img/botones_tabla/b_tabla_empresa_i.svg) no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
	padding: 0px;
	margin: 0px;
}

.tabla_clientes {

	table {
		td{
			.table_content;
			text-align: center;

			&.c_col1 {
				width: @c_ancho_col1;
				padding: 16px 8px;
			}

			&.c_col2 {
				width: @c_ancho_col2;
				text-align: left;
			}

			&.c_col3 {
				width: @c_ancho_col2;
			}

			&.c_col4 {
				width: @c_ancho_col3;
			}

			&.c_col5 {
				width: @c_ancho_col3;
			}

			&.c_col6 {
				width: @c_ancho_col2;
			}

			&.c_col7 {
				width: @c_ancho_col2;
				padding-right: 0px;
				padding-left: 0px;

				div {
					display: inline-block;
				}
			}
		}
	}
}


/* NAVIGATION *************************************************************** */
//!Nav tabs
.nav {
	.opensans_semibold;
	background-color: #000000;
	color: #FFFFFF;
}
.nav-pills {
	padding: 8px 0px;

	li {
		width: 80px;
		text-align: center;

		& > a {
			color: #FFFFFF;
			font-size: 12px;
			line-height: 12px;

			&:hover {
				background-color: transparent;
			}
		}

		&.active {
			border: none;

			& > a, & > a:hover, & > a:focus {
				.opensans_bold;
				background-color: @Accent;
				border-radius: 100px;
				font-size: 12px;
				color: #FFFFFF;
				line-height: 12px;
			}
		}
	}
}

/* LANDING ****************************************************************** */
//!Landing

/*Landing Header ____________________________________________________________ */
#landingHeader {
	background-color: @Dark_Tetrary;
	height: 56px;
}

.logoHeader {
	background: url(../img/mailing/logo_footer.png) no-repeat center center;
	background-size: 100%;
	position: absolute;
	margin: 12px 24px;
	height: 32px;
	width: 32px;
}

.textmenu {
	.bebas;
	font-size: 18px;
	color: @Medium;
	letter-spacing: 2.25px;
	line-height: 56px;
	margin: 0px 12px;
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: #FFFFFF;
	}
}

.textmenu_A {
	.textmenu;
	color: @Accent;

	&:hover {
		text-decoration: none;
		color: @Accent_Hover;
	}
}

ul#toolbar-home {
	display: none;
}

/*Landing1 Intro ____________________________________________________________ */
#landing1 {
	margin-top: @altoHeader;
	min-height: 850px - @altoHeader;
	background-color: @Dark_Secondary;
	position: relative;
}

@anchocuadro: 456px;

#cuadro {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	//width: @anchocuadro;
	margin-left: 104px;
}

#landlogo {
	background: url(../img/landing/logo_lading.svg) no-repeat;
	background-size: 100%;
	width: @anchocuadro;
	height: 133px;
	margin-bottom: 24px;
}

#landtitle {
	.opensans_light;
	//width: @anchocuadro;
	//height: 112px;
	font-size: 56px;
	color: #EFF1F3;
	line-height: 56px;
}

.textoProximamente {
	.opensans;
	font-size: 36px;
	//font-family:'OpenSans';
	color: white;
	line-height: 48px;
	margin-top: 9px;
}

.textoCompatible {
	.opensans;
	font-size: 18px;
	//font-family:'OpenSans';
	color: #00BFD6;
	line-height: 18px;
}

#apps{
	margin-top: 32px;
	width: 600px;
}

.landapp {
	width: 270px;
	height: 80px;
	margin-right: 24px;
	display:inline-block;
}

.appAndroid {
	background: url(../img/landing/disponible_google_play.svg) no-repeat;
	background-size: 100%;
	.landapp;
}

.appIOS {
	background: url(../img/landing/apple_store.svg) no-repeat;
	background-size: 100%;
	.landapp;
}

#veepe_lp1s {
	background: url(../img/landing/veepe_lp1s.png) no-repeat;
	background-size: contain;
	background-position: center center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 120px;
	width: 384px;
	height: 720px;
}

#flecha {
	background: url(../img/botones/b_down_n.svg) no-repeat;
	background-size: 100%;
	margin-top: 86px;
	height: 64px;
	width: 64px;

	&:hover {
		background: url(../img/botones/b_down_h.svg) no-repeat;
	}
}

/*Landing2 ¿Qué es veepe? ___________________________________________________ */
#landing2 {
	min-height: 850px;
	background-color: #FFFFFF;
}

#veepe_lp2s {
	background: url(../img/landing/veepe_lp2s.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 76px;
	left: 80px;
	width: 600px;
	height: 700px;
}

#Texto1 {
	top: 260px;
	right: 80px;
}

@anchoTitleText: 472px;

.landtitle {
	.bebas;
	//width: @anchoTitleText;
	font-weight: 400;
	//height: 64px;
	font-size: 64px; //56px;
	color: @Dark_Primary;
	line-height: 64px; // 56px;
	margin-bottom: 16px;
	z-index: 4;
}

.landtext {
	.opensans;
	width: @anchoTitleText;
	font-weight: 300;
	//height: 140px;
	font-size: 21px; //18px;
	color: @Medium;
	line-height: 32px; //28px;
	z-index: 4;

	ul li {
		margin-left: -16px;
	}
}

/*Landing3 ¿Cómo funciona? __________________________________________________ */
#landing3 {
	min-height: 850px;
	background-color: @Dark_Tetrary;
}

#veepe_lp3s {
	background: url(../img/landing/veepe_lp3s.png) no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0px;
	width: 900px;
	height: 700px;
}

#Texto2 {
	top: 368px;
	left: 80px;
}

/*Landing4 Beneficios _______________________________________________________ */
#landing4 {
	min-height: 752px;
	background-color: @Medium;
}

#veepe_lp4s {
	background: url(../img/landing/veepe_lp4s.png) no-repeat;
	background-size: 100%;
	position: absolute;
	height: 752px;
	width: 699px;
	left: 0;
}

#Texto3 {
	top: 297px;
	right: 80px;
}

/*Landing5 Facebook _________________________________________________________ */
#landing5 {
	.opensans_semibold;
	min-height: 64px;
	background-color: @Dark_Secondary;
	text-align: center;
	line-height: 64px;
	color: @Medium;

	span {
		vertical-align: middle;
	}
}

#logoFacebook {
	background: url(../img/botones/b_facebook_n.svg) no-repeat;
	background-size: contain;
	position: absolute;
	display: inline-block;
	margin: 12px 0px;
	height: 40px;
	width: 40px;

	&:hover {
		background: url(../img/botones/b_facebook_h.svg) no-repeat;
	}
}

/*Landing Footer ____________________________________________________________ */
#landingfooter {
	min-height: 152px;
}

#imgFooter {
	background: url(../img/landing/logo_lading_footer.svg) no-repeat;
	background-size: 100%;
	position: relative;
	width: 140px; // 280px;
	height: 93px; // 186px;
	margin: 16px auto;
}

span.uno {
	position: relative;
	font-size: 14px;
	left: -8px;
	font-weight: 400;
}

span.dos {
	position: relative;
	font-size: 14px;
	right: -48px;
}


/* LOGIN ******************************************************************** */
//!Login
#formLogin {
	width: 412px;
}

.centerme {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.centerme_off {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transform: none;
	margin: 96px auto;
}

#loginTxt {
	.opensans;
	font-size: 14px;
	color: @Medium;
	line-height: 16px;
}


/* LOGO VEEPE *************************************************************** */
// !logo Veepe

.logo_veepe_login {
	.img_size(280px, 352px);
	padding: 0px;
	margin-bottom: 16px;
	margin: 0 auto;
	background: url(../img/logos/vplogo.svg) no-repeat;
}

.logo_veepe {
	.img_size(200px, 256px);
	padding: 0px;
	margin-bottom: 16px;
	margin: 0 auto;
	background: url(../img/logos/vplogo.svg) no-repeat;
}

.logo_alta {
	.img_size(120px, 152px);
	padding: 0px;
	margin-bottom: 16px;
	background: url(../img/logos/vplogo.svg) no-repeat;
	margin: 0px;
}

/* Overlay ****************************************************************** */
// !Overlay

//NOTA: otras pantallas que no son overlay utilizan esta clase
.formato_titulo {
	.opensans_light;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	margin-bottom: 16px;
}

//NOTA: otras pantallas que no son overlay utilizan esta clase
.formato_texto {
	.opensans;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 21px;
	text-align: center;
	margin-bottom: 32px;
}

.overlay {
	background-color: @Dark_Tetrary;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	z-index: 100;
	display: none;

	& > .centerme {
		//width: 520px;
		max-width: 100vw; // 520px;
		padding: 20px 10px;
	}

	.title {
		.formato_titulo;
	}

	.body {
		.formato_texto;
	}

	.icon {
		height: 120px;
		width: 120px;
		margin-bottom: 16px;
		margin: 0px auto;
		background-size: 100%;
		background: url(../img/logos/vplogo.svg) no-repeat;
		background-position: center center;
	}
	&.conexion .icon, &.generico .icon {
		background: url(../img/iconos/iconografia_error_conexion.svg) no-repeat;
	}
	&._error .icon {
		background: url(../img/iconos/iconografia_error_codigo.svg) no-repeat;
	}

}

/* IMAGEN PERFIL	*********************************************************** */
//!Imagen perfil

.img_usuario_n {
	.img_size(104px, 104px);
	background: url(../img/botones_tabla/b_tabla_user_n.svg) no-repeat;
	margin: 16px auto;
}

.img_usuario_i {
	.img_usuario_n;
	background: url(../img/botones_tabla/b_tabla_user_i.svg) no-repeat;
	margin: 16px auto;
}

.img_cliente_i {
	.img_usuario_n;
	background: url(../img/botones_tabla/b_tabla_empresa_i.svg) no-repeat;
	margin: 16px auto;
}

.img_estacionamiento_h {
	.img_size(120px, 120px);
	background: url(../img/botones_tabla/b_tabla_estacionamiento_h.svg) no-repeat;
	margin: 16px auto;
}

.img_estacionamiento_i {
	.img_estacionamiento_h;
	background: url(../img/botones_tabla/b_tabla_estacionamiento_i.svg) no-repeat;
	margin: 16px auto;
}

.caja_perfil {
	width: @ancho_caja;
	padding: 0px 80px;
	margin: 0px auto;
	background: rgba(65,63,65,0.60);

	input[type="checkbox"] + label {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

/* IMAGEN SERVICIOS	********************************************************* */
//!Imagen Servicios

.img_servicio {
	.img_size(144px, 144px);
	margin-bottom: 0px;
}

.servicio_activo {

	.img_estacionamiento {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_estacionamiento_a.svg');
	}

	.img_lavado {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_lavado_a.svg');
	}

	.img_pension {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_pension_a.svg');
	}

	.img_pension_compartida {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_pensioncompartida_a.svg');
	}

	.img_reserva {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_reserva_a.svg');
	}

	.img_valet {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_valet_a.svg');
	}

}

.servicio_inactivo{

	.img_estacionamiento {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_estacionamiento_i.svg');
	}

	.img_lavado {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_lavado_i.svg');
	}

	.img_pension {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_pension_i.svg');
	}

	.img_pension_compartida {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_pensioncompartida_i.svg');
	}

	.img_reserva {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_reserva_i.svg');
	}

	.img_valet {
		.img_servicio;
		background-image: url('../img/iconos_servicios/ico_servicios_valet_i.svg');
	}

}

/* SERVICIOS **************************************************************** */
// !Caja Servicios

.caja_servicios {
	width: @ancho_caja;
	margin: 0px auto;

	.caja_activos,
	.caja_inactivos  {
		width: @ancho_caja;
		background-color: @Dark_Tetrary;
		border-radius: 4px;
		padding: 32px 8px;
		height: auto;

		& > h3 {
			position: relative;
			width: 196px;
			margin: 0px auto ;
			margin-top: -24px;
		}
	}

	.caja_item_servicio {
		background-color: @Dark_Secondary;
		width: 285px;
		height: 220px;
		margin: 8px 8px;
		display: inline-block;
		color: #FFFFFF;
		text-align: center;

		& > h3 {
			margin: 0px;
		}

		.s_icon {
			width: 24px;
			height: 24px;
			display: inline-block;
			margin-top: 8px;
		}
	}
}


/* Registro ***************************************************************** */
// !Caja Registro

@ancho_perfil: 848px;
@ancho_col3: 272px;
@ancho_costos: 200px;

#caja_registro {

	.formaDark .requerido {
		.input_width100 {
			width: @ancho_perfil - 16;
			margin-left: 8px;

			& + .marca {
				margin-left: 8px;
			}
		}
	}

}

.caja_registro {
	width: @ancho_perfil;

	&.centerme_estacionamiento {
		.centerme_off;
	}

	.formaDark {
		//max-width: @ancho_perfil;
		margin: 0px;
		padding: 0px;
	}

	.row_registro {
		.row_validador;
		width: @ancho_col3;
		margin-right: 16px;

		.requerido {
			width: @ancho_col3;

			input {
				width: @ancho_col3;
			}
		}
	}

	.requerido.row_servicio {
		background-color:#414042;
		height:40px;

		label {
			margin-top:-4px;
		}
	}

	.requerido.row_servicio_activacion {
		.requerido.row_servicio;
		width: 848px;
	}

	.formaDark .requerido {

		.input_width100 {
			width: @ancho_perfil - 16;
			max-width: none;
		}
	}

}


.check_input {
	background-color: @Dark_Primary;
	height: 40px;

	label {
		margin-top: -5px;
	}

	input {
		width: 160px;
		text-align: right;
	}
}

/* REPORTES ***************************************************************** */
// !Caja Reportes
@ancho_caja: 80%; //840px;

.caja_reportes {
	width: @ancho_caja;
	min-width: 900px;
	margin: 0px auto;

	.formaDark {
		//max-width: @ancho_caja;
		margin: 0px;
		padding: 0px;
	}

	.formaDark .requerido {
		width: @ancho_caja;

		select {
			width: @ancho_caja;
		}

		input.datepicker {
			width: @ancho_caja/2;
		}

		input#fechaIni{
			width: @ancho_caja/2 - 16;
		}
	}
}

/* ********************************************************************* MISC */
// !Misc

/* MEDIA 1200px ************************************************************* */
// !Media 1200px
@media screen and (max-width: 1200px) {

	/* LANDING @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	//!Landing @1200

	/*Landing Header @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	.textmenu {
		font-size: 16px;
	}

	.textmenu_A{
		font-size: 16px;
	}

	/*Landing1 Intro @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	#landing1 {
		min-height: 680px; // 632px;
	}

	#land {
		min-height: 456px;
	}

	@anchocuadro: 456px;

	#cuadro {
		width: @anchocuadro;
		margin-left: 80px;
	}

	#landlogo {
		width: 421px; //@anchocuadro;
		height: 128px; //136px;
		margin-bottom: 8px;
	}

	#landtitle {
		width: @anchocuadro;
		height: 112px;
		font-size: 48px;
	}

	#apps{
		margin-top: 16px;
		width: 485px;
	}

	.landapp {
		width: 216px;
		height: 64px;
	}

	.appAndroid {
		.landapp;
	}

	.appIOS {
		.landapp;
	}

	#veepe_lp1s {
		right: 112px; //64px;
		width: 316px; //248px;
		height: 592px; // 584px;
	}

	#flecha {
		margin-top: 72px;
		height: 48px;
		width: 48px;
	}

	/*Landing2 ¿Qué es veepe? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	#landing2 {
		min-height: 680px;
	}

	#veepe_lp2s {
		top: 60px;
		left: 64px;
		width: 480px;
		height: 560px;
	}

	#Texto1 {
		top: 224px;
		right: 120px;
	}

	@anchoTitleText: 376px;

	.landtitle {
		width: @anchoTitleText;
		font-size: 56px;
	}

	.landtext {
		width: @anchoTitleText;
		height: 120px;
		font-size: 18px;
		line-height: 28px; //24px;

		ul li {
			margin-left: -20px;
		}
	}

	/*Landing3 ¿Cómo funciona? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	#landing3 {
		min-height: 680px;
	}

	#veepe_lp3s {
		height: 544px;
		width: 752px;
	}

	#Texto2 {
		top: 320px;
		left: 64px;
	}

	/*Landing4 Beneficios @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	#landing4 {
		min-height: 648px;
	}

	#veepe_lp4s {
		height: 648px;
		width: 603px;
	}

	#Texto3 {
		top: 200px;
		right: 64px;
	}

	/*Landing5 Facebook @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	#landing5 {
		min-height: 56px;
		line-height: 56px;
	}

	#logoFacebook {
		height: 32px;
		width: 32px;
	}

	/*Landing Footer @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@1200 */
	#landingfooter {
		min-height: 152px; //224px;
	}

	#imgFooter {
		width: 120px; //240px;
		height: 80px; //160px;
		margin: 16px auto;
	}

}

/* MEDIA 992px ************************************************************** */
// !Media 992px
@media screen and (max-width: 992px) {

	/* LANDING @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	//!Landing @992

	/*Landing Header @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	.textmenu {
		font-size: 12px;
	}

	.textmenu_A{
		font-size: 12px;
	}

	/*Landing1 Intro @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	#landing1 {
		min-height: 462px;
	}

	#land {
		min-height: 372px;
	}

	@anchocuadro: 304px;

	#cuadro {
		width: @anchocuadro;
		margin-left: 56px;
	}

	#landlogo {
		width: @anchocuadro;
		height: 96px;
		margin-bottom: 8px;
	}

	#landtitle {
		width: @anchocuadro;
		height: 96px;
		font-size: 36px;
		line-height: 48px;
	}

	#apps{
		margin-top: 16px;
		width: 380px;
	}

	.landapp {
		width: 162px;
		height: 48px;
	}

	.appAndroid {
		.landapp;
	}

	.appIOS {
		.landapp;
	}

	#veepe_lp1s {
		right: 48px;
		width: 196px;
		height: 464px;
	}

	#flecha {
		margin-top: 60px;
		height: 30px;
		width: 30px;
	}

	/*Landing2 ¿Qué es veepe? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	#landing2 {
		min-height: 510px;
	}

	#veepe_lp2s {
		top: 48px;
		left: 48px;
		width: 360px;
		height: 420px;
	}

	#Texto1 {
		top: 162px;
		right: 48px;
	}

	@anchoTitleText: 280px;

	.landtitle {
		width: @anchoTitleText;
		font-size: 48px;
		margin: 0px;
	}

	.landtext {
		width: @anchoTitleText;
		height: 126px;
		font-size: 18px;
		line-height: 21px;
	}

	/*Landing3 ¿Cómo funciona? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	#landing3 {
		min-height: 512px;
	}

	#veepe_lp3s {
		width: 564px;
		height: 408px;
	}

	#Texto2 {
		top: 226px;
		left: 48px;
	}

	/*Landing4 Beneficios @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	#landing4 {
		min-height: 496px;
	}

	#veepe_lp4s {
		height: 496px;
		width: 461px;
	}

	#Texto3 {
		top: 0px;
		right: 16px;
	}

	.landtext, 
	.landtitle {
		width: 320px;
	}

	/*Landing5 Facebook @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	span.uno {
		left: -4px;
	}

	span.dos {
		right: -40px;
	}

	/* HOME @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	// !Home @992
	.caja_perfil {
		padding: 0px 40px;
		width: 416px;
	}

	/* REGISTRO @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	// !Caja Registro
	@ancho_perfil: 416px;
	@ancho_col3: 416px;

	.caja_registro {
		width: @ancho_perfil;

		&.centerme {
			.centerme_off;
		}

		.formaDark {
			//max-width: @ancho_perfil;
		}

		.formaDark .requerido {
			.input_width100 {
				width: @ancho_perfil;
			}
		}

		.row_registro {
			.row_validador;
			width: @ancho_col3;
		}

		.row_registro .requerido{
			width: @ancho_col3;
		}

		.row_registro .requerido input{
			width: @ancho_col3;
		}

		.requerido.row_servicio_activacion {
			width: 416px;
		}

		.cancelar,
		.guardar {
			float: none !important;
			text-align: center;
			margin: 0;
			margin-bottom: 16px;
		}

	}

	/* REPORTES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@992 */
	// !Caja width 100%
	@ancho_caja: 416px;

	.caja_reportes {
		width: @ancho_caja;
		margin: 0px auto;

		.formaDark {
			//max-width: @ancho_caja;
			margin: 0px;
			padding: 0px;
		}

		.formaDark .requerido {
			width: @ancho_caja;

			select {
				width: @ancho_caja;
			}

			input.datepicker {
				width: @ancho_caja;
				margin-right: 8px;
			}
		}
	}

}

/* MEDIA 768px ************************************************************** */
// !Media 768px
@media screen and (max-width: 768px) {

	.formaDark.confirmar {
		width: 100%;
	}

	/* LANDING @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	//!Landing @768

	/*Landing Header @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	header {
		//display: none;
		/*div.pull-right {
			float:none !important;
		}*/
	}

	/*Landing1 Intro @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	#landing1 {
		min-height: 327px;

		#veepe_lp1s {
			width: 156px;
			height: 293px;
			right: 24px;
		}

		#landlogo {
			width: 158px;
			height: 48px;
		}

		#landtitle {
			font-size: 28px;
			line-height: 30px;
			width: 300px;
			height: auto;
		}

		.textoProximamente {
			font-size: 24px;
			line-height: 24px;
		}

		.textoCompatible {
			font-size: 12px;
			line-height: 12px;
		}
	}

	.landtext {
		width: 250px;
	}

	#land {
		min-height: 327px;
	}

	@anchocuadro: 184px;

	#cuadro {
		width: 436px; //@anchocuadro;
		margin-left: 32px; //16px;
	}

	#landlogo {
		width: 263px; //@anchocuadro;
		height: 80px; //64px;
		margin: 0px;
	}

	#landtitle {
		width: auto;
		.opensans_light;
		font-weight: 300;
		font-size: 32px;
		line-height: 32px; //24px;
	}

	.textoProximamente {
		font-size: 24px;
		line-height: 36px;
	}

	.textoCompatible {
		font-size: 16px;
		line-height: 16px;
	}

	#apps{
		margin-top: 8px;
		width: 150px;
	}

	.landapp {
		width: 120px;
		height: 36px;
	}

	.appAndroid {
		.landapp;
	}

	.appIOS {
		.landapp;
	}

	#veepe_lp1s {
		right: 57px; //0px;
		width: 220px; //155px;
		height: 413px; //368px;
	}

	#flecha {
		display: none;
	}

	/*Landing2 ¿Qué es veepe? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	#landing2 {
		min-height: 510px; //554px;
	}

	.pull-right,
	.pull-left {
		float: none !important;
		display: table;
		margin: 0 auto;
	}

	#veepe_lp2s {
		position: relative;
		margin: 0 auto;
		width: 200px;
		height: 234px;
		//width: 160px; //280px;
		//height: 211px; //327px;
		left: -8px;
	}

	#Texto1 {
		position: relative;
		right: 0px;
		top: 64px;
	}

	@anchoTitleText: 288px;

	.landtitle {
		width: @anchoTitleText;
		//height: 21px;
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 16px;
	}

	.landtext {
		width: @anchoTitleText;
		//height: 126px;
		font-size: 16px;
		line-height: 24px;

		ul li {
			margin-left: -22px;
		}
	}


	/*Landing3 ¿Cómo funciona? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	#landing3 {
		min-height: 510px;
		position: relative;
	}

	#veepe_lp3s {
		position: absolute;
		top:0px;
		right: 0px;
		width: 450px; //360px;
		height: 325px; //260px;
	}

	#Texto2 {
		position: relative;
		left: -48px;
		margin: 0 auto;
		width: 283px;
		top: 300px;
		//height: 126px;
	}

	/*Landing4 Beneficios @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	#landing4 {
		min-height: 650px;

		#veepe_lp4s {
			width: 258px;
			height: 239px;
			//background-color: #909190;
		}

		#Texto3 {
			top: 246px;
			padding-left: 64px;
			height: 416px;

			.pull-right {
				float: none !important;
			}

			.landtitle {
				width: 412px;
				padding-top: 30px;
				font-size: 28px;
				line-height: 28px;
			}
			.landtext {
				width: 412px;
				font-size: 16px;
				line-height: 21px;
				//padding-top: 40px;
			}
		}
	}


	/*Landing5 Facebook @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	#landing5 {
		min-height: 48px;
		line-height: 48px;
	}

	#logoFacebook {
		height: 28px;
		width: 28px;
	}

	/*Landing Footer @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@768 */
	#landingfooter {
		min-height: 176px;
	}

	#imgFooter {
		width: 120px; //180px;
		height: 80px; //120px;
		margin: 16px auto;
	}

	span.dos {
		right: -36px;
	}

}


/* MEDIA 480px ************************************************************** */
// !Media 480px
@media screen and (max-width: 480px) {

	#formLogin {
		width: 100%;
	}

	/* LANDING @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@480 */
	//!Landing @480

	#documento {
		overflow: hidden;
	}

	header {
		.pull-left {
			display: none;
		}

		/*.pull-right {
			display: none;
		}*/
	}

	#cuadro {
		margin-left: 8px;
	}

	/*Landing1 Intro @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@480 */
	#landing1 {
		min-height: 327px;

		#veepe_lp1s {
			width: 156px;
			height: 293px;
			right: 8px;
		}

		#landlogo {
			width: 158px;
			height: 48px;
		}

		#landtitle {
			font-size: 20px;
			line-height: 24px;
			width: 174px;
			height: auto;
		}

		.textoProximamente {
			font-size: 18px;
			line-height: 21px;
		}

		.textoCompatible {
			font-size: 12px;
			line-height: 12px;
		}
	}

	.landtext {
		width: 250px;
	}

	/*Landing2 ¿Qué es? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@480 */
	#landing2 {
		min-height: 554px;
		padding-top: 40px;

		.pull-right,
		.pull-left {
			float: none !important;
			display: table;
			margin: 0 auto;
		}

		#veepe_lp2s {
			width: 260px;
			height: 327px;
			left: auto;
			top: 0px;
		}

		#Texto1 {
			top: -16px;

			.landtitle {
				width: 260px;
				font-size: 28px;
				line-height: 28px;
			}

			.landtext {
				width: 260px;
				font-size: 16px;
				line-height: 21px;
			}
		}
	}

	/*Landing3 ¿Cómo funciona? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@480 */
	#landing3 {
		min-height: 400px;

		#veepe_lp3s {
			width: 360px;
			height: 260px;
		}

		#Texto2 {
			top: 224px;
			margin: 0;
			padding-left: 16px;
			left: 0px;
			width: 100%;

			.landtitle {
				font-size: 28px;
				line-height: 28px;
				width: 100%;
			}

			.landtext {
				font-size: 16px;
				line-height: 21px;
				width: 100%;
			}
		}
	}

	/*Landing4 Beneficios @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@480 */
	#landing4 {
		min-height: 700px;

		#veepe_lp4s {
			width: 258px;
			height: 239px;
		}

		#Texto3 {
			top: 246px;
			height: 416px;
			padding-left: 32px;

			.pull-right {
				float: none !important;
			}

			.landtitle {
				width: 100%;
				padding-top: 30px;
				font-size: 28px;
				line-height: 28px;
			}
			.landtext {
				width: 100%;
				font-size: 16px;
				line-height: 21px;
				//padding-top: 40px;
			}
		}
	}

	#landingfooter {
		min-height: 105px;
		padding: 0px;

		#imgFooter {
			width: 90px;
			height: 60px;
		}
	}

	.formaDark {
		width: auto;
	}

	.centerme {
		position: relative;
		left: auto;
		top: auto;
		transform: none;
	}
}

@media screen and (max-width: 360px) {
	#landing4 {
		min-height: 760px;
		#Texto3 {
			top: 212px;
		}
	}
}

/* SEMAFORO ************************************************************** */
//!SEMAFORO

.btn-group {
	label {
		width: 80px;
		height: 32px;
		line-height: 32px;
		background-color: transparent;
		color: white;
		.opensans;
		font-size: 12px;
		box-shadow: none;
		border-width: 0px;
	}

	label.active, label:hover {
		background-color: #00BFD6;
		border-radius: 100px !important;
	}
}

.semaforo {
	width: 320px;
	display: inline-block;

	.encabezado {
		height: 48px;

		color: white;
		background-color: #00BFD6;
		line-height: 48px;
		text-align: center;
		.opensans_light;
		font-size: 24px;
	}
}

.semaforo table, .estadisticas table {
	td:nth-child(1) {
		width: 52px;
		padding-left: 8px;
	}
	
	thead {
		tr {
			height: 48px;

			background-color: #404142;
			color: #A3A6A4;
			font-family: 'Open Sans';
			font-weight: 700;
			font-size: 12px;
			line-height: 48px;
		}
	}

	tbody {
		background-color: white;

		tr {
			height: 40px;
			line-height: 40px;
			color: #55595B;
		}

		.indicador {
			display: inline-block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			margin-top: 14px;

			&.ok {
				background-color: #7ED321;
			}
			&.alerta {
				background-color: #FFC800;
			}
			&.error {
				background-color: #D0021B;
			}
		}

		button.contactar {
			width: 24px;
			height: 24px;

			background-color: transparent;
			border: none;
			background-image: url('../img/botones_tabla/b_tabla_mail_i.svg');
			cursor: pointer;
			margin-top: 12px;
		}
	}

	tfoot td {
		height: 8px;
		background-color: #00BFD6;
	}
}


/* ESTADISTICAS ************************************************************** */
//!ESTADISTICAS

.estadisticas .tarjeta {
	.encabezado {
		height: 32px;
		line-height: 32px;
		background-color: #00BFD6;
		color: white;
		text-align: center;
		font-size: 12px;
	}

	.cuerpo {
		height: 64px;
		background-color: #2C2A2D;

		.icono {
			float: left;
			width: 64px;
			height: 64px;

			&.persona {
				background-image: url('../img/iconos/ico_usuarios.svg');
			}
			&.empresa {
				background-image: url('../img/iconos/ico_empresas.svg');
			}
			&.estacionamiento {
				background-image: url('../img/iconos/ico_estacionamientos.svg');
			}
			&.operacion {
				background-image: url('../img/iconos/ico_operaciones.svg');
			}
			&.zona {
				background-image: url('../img/iconos/ico_zona.svg');
			}
		}

		.cantidad {
			.opensans_light;
			float: right;
			color: #EFF1F3;
			font-size: 24px;
			line-height: 64px;
			margin-right: 22px;
		}
	}
}


