div.menu {
	position: fixed;
	height: 100vh;
	width: 48px;
	left: 0px;
	top: 56px;
	z-index: 20;

	background-color: @Dark_Tetrary;
	cursor: pointer;
	transition: all .2s;

	.opcion {
		display: block;
		width: 100%;
		height: 56px;
		overflow: hidden;
		position: relative;

		.icono {
			width: 32px;
			height: 32px;
			margin: 12px 8px;
			display: inline-block;

			&.home { 			background-image: url('../img/iconos_menu/inicio_i.svg'); }
			&.perfil { 			background-image: url('../img/iconos_menu/perfil_i.svg'); }
			&.empleados { 		background-image: url('../img/iconos_menu/empleados_i.svg'); }
			&.clientes { 		background-image: url('../img/iconos_menu/clientes_i.svg'); }
			&.servicios { 		background-image: url('../img/iconos_menu/servicios_i.svg'); }
			&.estadisticas {	background-image: url('../img/iconos_menu/estadisticas_i.svg'); }
			&.estacionamientos {background-image: url('../img/iconos_menu/estacionamiento_i.svg'); }
			&.reportes { 		background-image: url('../img/iconos_menu/reportes_i.svg'); }
			&.semaforo { 		background-image: url('../img/iconos_menu/semaforo_i.svg'); }
			&.ayuda { 			background-image: url('../img/iconos_menu/ayuda_i.svg'); }
			&.promociones {		background-image: url('../img/iconos_menu/promociones_i.svg'); }
			&.pensionados {		background-image: url('../img/iconos_menu/pensionados_i.svg'); }
		}

		.leyenda {
			display: none;
			.opensans_semibold;

			line-height: 56px;
			font-size: 12px;
			color: #A3A6A4;
			vertical-align: top;
			transition: all .2s;
		}

		.flechita {
			display: none;
			position: absolute;
			width: 40px;
			height: 40px;
			right: 0px;
			top: 8px;
			background-image: url('../img/botones/b_fwd_n.svg');
			transition: all .2s;
		}
	}
}

div.menu:hover {
	width: 280px;

	.opcion {
		&:hover {
			background-color: #2C2A2D;
		}

		.leyenda {
			display: inline-block;
		}

		.flechita {
			display: inline-block;
		}
	}
}
